/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    
}

/* Small tablet to big tablet: from 768 to 1023 px */
@media only screen and (max-width: 1023px) {
}

/* Small phone to small tablet: from 481 to 767 px */
@media only screen and (max-width: 767px) {
}

/* Small phone: from 0 to 480 px */
@media only screen and (max-width: 480px) {
    .jumbotron h1 {
        font-size: 228% !important;
    }
    
    .jumbotron h2 {
        font-size: 152%;
        margin-top: 40px;
    }
}